@import url("variables.css"); 

html{
  background-color: var(--color5);
  overflow-x: hidden;
  height:100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

h2 {
  color: var(--color2);
  font-weight: 500;
  font-size: 45px;
}

h1 {
  color: var(--color2);
  font-weight: 700;
  font-size: 50px;
}

p {
  color: var(--color5);
}

.navbar {
  margin-bottom: 0;
  color: var(--color1);
  z-index: 9999;
  border: 0;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0;
}

.nav-item {
  padding: 0 7px;
}

.navbar li a, .navbar .navbar-brand {
  color: var(--color1);
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: var(--color5);
  background-color: var(--color1);
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.container-fluid {
  justify-content: center;
}

.col-sm-6 {
  justify-content: center;
  align-content: center;
}

.btn1{
  background-color: var(--color4);
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 15px;
  border-color: transparent;
}

.btn2{
  background-color: var(--color6);
  padding: 10px 20px;
  border-radius: 15px;
  border-color: transparent;
}

.jumbotron{
  border-radius: 0;
}

.inicio {
  background: url('multimedia/360.gif');
  opacity: 0.8;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Titulo{
  text-transform: uppercase;
  color: var(--color2);
  font-weight: 600;
  font-size: 7rem;
}

.pagina-principal {
	padding: 5% 10%;
	position: relative;
	justify-content: center;
}

.pagina-principal p{
  color: var(--color1);
  font-weight: 400;
}

.pagina-principal img{
  width: 100%;
}

.col-sm-6 {
  justify-content: center;
  align-items: center;
}

#carruselImagenes{
  width: 75%;
  margin-left: 10%;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 80%;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 80%;
  width: 100% ;
}

.color-seccion{
  background-color: var(--color3);
}

.button{
  background-color: var(--color3) !important;
}

.main-footer {
  background-color: var(--color3);
  padding: 15px;
  font-size: 14px;
}

.main-footer h2, h5, h6 {
  color: var(--color1);
  font-weight: bold;
}

.main-footer li a, p {
  font-weight: 350;
  color: var(--color5);
}

.footer-copyright{
  background-color: var(--color4);
  color: var(--color5);
  font-size: 14px;
  padding: 10px 0;
}

.footer-copyright p{
  color: var(--color5)
}

.footer-copyright a{
  color: var(--color1)
}


@media screen and (max-width: 768px) {
  .col-sm-6 {
    text-align: center;
    margin: 25px 0;
  }
}

@media screen and (max-width: 480px) {
	.container-fluid {
		padding: 5% 7%;
	}
}