@import url("variables.css"); 

html{
  background-color: var(--color5);
	overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color2);
}

h1 {
  text-transform: uppercase;
  color: var(--color2);
  font-weight: 600;
  font-size: 50px;
}

p{
  color: var(--color4);
}

.container-fluid {
  justify-content: center;
}

.col-sm-6 {
  justify-content: center;
  align-content: center;
}

.pagina-principal {
	padding: 5% 10%;
	position: relative;
	justify-content: center;
}

.pagina-principal p{
  color: var(--color4);
  font-weight: bold;
}

.pagina-principal img{
  width: 100%;
}

.navbar {
  margin-bottom: 0;
  color: var(--color1);
  z-index: 9999;
  border: 0;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0;
}

.nav-item {
  padding: 0 7px;
}

.navbar li a, .navbar .navbar-brand {
  color: var(--color1);
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: var(--color5);
  background-color: var(--color1);
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.main-footer {
  background-color: var(--color2);
  padding: 15px;
  font-size: 14px;
}

.main-footer h2, h5, h6 {
  color: var(--color1);
}

.main-footer li a, p {
  font-weight: lighter;
  color: var(--color5);
}

.footer-copyright{
  background-color: var(--color4);
  color: var(--color5);
  font-size: 14px;
  padding: 10px 0;
}

.footer-copyright p{
  color: var(--color5)
}

.footer-copyright a{
  color: var(--color1)
}


@media screen and (max-width: 768px) {
  .col-sm-6 {
    text-align: center;
    margin: 25px 0;
  }
}

@media screen and (max-width: 480px) {
	.container-fluid {
		padding: 5% 7%;
	}
}